/*
|--------------------------------------------------------------------------
| Styles specific to the footer component of the layout
|--------------------------------------------------------------------------
|
| Here we define the positioning and stylistic properties for the footer.
|
*/

.footer {
  text-align: center;
  letter-spacing: .02rem;

  margin-top: 4rem;
  margin-bottom: 2rem;

  &__menu {
    font-size: 150%;
  }

  &__legal {
    font-size: 135%;
    font-weight: 400;

    margin-top: 2rem;
  }


}