/*
|--------------------------------------------------------------------------
| Styles specific to the header component of the layout
|--------------------------------------------------------------------------
|
| Here we define the positioning and stylistic properties for the header.
|
*/

.header {

  padding: 3rem 3.5rem 0 3.5rem;

  display: flex;
  justify-content: space-between;

}