<template>
  <main class="content">
    <router-view></router-view>
  </main>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class AppContent extends Vue {}
</script>