<template>
  <footer class="footer">
    <div class="footer__menu">
      <a href="#" @click.stop="openTutorial" class="btn--inline">Watch tutorial</a>
      <span>&nbsp; &#124; &nbsp;</span>
      <a
        href="http://www.redi2.com/billfin"
        target="_blank"
        class="btn--inline"
      >Learn more about BillFin</a>
    </div>

    <div class="footer__legal">
      <span>Copyright Redi2 Technologies, Inc. 2020</span>
    </div>
    <modal-component :show="show" @close="closeTutorial">
      <template v-slot:content>
        <div>
          <iframe
            width="560"
            height="315"
            :src="tutorialUrl"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen
          ></iframe>
        </div>
      </template>
    </modal-component>
  </footer>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

import ModalComponent from "@/components/ModalComponent.vue";

@Component({
  components: {
    ModalComponent,
  },
})
export default class AppFooter extends Vue {
  show: boolean = false;
  tutorialUrl: string = "";

  openTutorial() {
    this.show = true;

    this.tutorialUrl = "https://www.youtube.com/embed/8BT9QUMqcTE";
  }

  closeTutorial() {
    this.show = false;

    this.tutorialUrl = undefined;
  }
}
</script>