<template>
  <header>
    <div class="header">
      <div class="brand">
        <svg class="brand__logo">
          <use xlink:href="../../assets/sprite.svg#icon-billfin-fish" />
        </svg>

        <div class="brand__name">
          <span class="brand__name-product">BillFin</span>
          <span class="brand__name-tagline">Powered by</span>
          <span class="brand__name-company">Redi2</span>
        </div>
      </div>
      <div class="user-info" v-click-outside="clickOutside">
        <span class="user-info__firm">{{ $store.getters.firmName }}</span>
        <a href="#" @click.stop="userProfile = !userProfile">
          <span class="user-info__photo" :class="{ active: userProfile }">
            <img :src="$store.getters.avatar" alt="User photo" v-if="$store.getters.avatar" />
            <span v-if="!$store.getters.avatar">{{ $store.getters.userName.charAt(0) }}</span>
          </span>
        </a>

        <div class="user-profile-container" v-if="userProfile">
          <div class="user-profile">
            <div class="user-profile__photo">
              <img :src="$store.getters.avatar" alt="User photo" v-if="$store.getters.avatar" />
              <span v-if="!$store.getters.avatar">{{ $store.getters.userName.charAt(0) }}</span>
            </div>
            <div class="user-profile__name">
              <div class="form-group" v-if="editName">
                <input type="text" :value="$store.getters.userName" v-on:keyup.enter="saveName($event)" />
                <a class="form-group__icon btn--icon" href="#" @click.stop="editName = false"></a>
              </div>
              <span v-if="!editName">{{ $store.getters.userName }}</span>
              <a
                class="btn--icon btn--icon__edit"
                href="#"
                @click.stop="editName = true"
                v-if="!editName"
              ></a>
            </div>
            <div class="user-profile__firm">{{ $store.getters.firmName }}</div>
            <div class="user-profile__button">
              <input type="file" ref="avatarUpload" @change="uploadAvatar" class="d--none" />
              <a class="btn btn--primary" @click.stop="openAvatarUpload()">Change Photo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script lang="ts">
import { Component, Inject, Vue } from "vue-property-decorator";
import { IPortalService } from "@/service";

@Component
export default class AppHeader extends Vue {
  @Inject("portalService") service: IPortalService;

  userProfile: boolean = false;
  editName: boolean = false;

  clickOutside() {
    this.userProfile = false;
  }

  openAvatarUpload() {
    let file: any = this.$refs.avatarUpload;

    file.click();
  }

  saveName(event: any) {
    this.service.saveUserName(event.target.value).then(response => {
      this.$store.dispatch("getUser", this.service);
      this.editName = false;
    });
  }

  uploadAvatar(event: any) {
    let browsedFiles = event.target.files;
    if (!browsedFiles) return;

    this.service.uploadAvatar(browsedFiles[0]).then(response => {
      this.$store.dispatch("getUser", this.service);
      this.editName = false;
    });
  }
}
</script>