<template>
  <div class="home">
    <section class="row justify-content--between welcome">
      <h1 class="column-lg-6">Welcome back, {{ $store.getters.userName }}.</h1>

      <div class="column-lg-6 no-flex-basis welcome__overview" v-if="summary">
        <h2 class="h2">Last Upload on {{ summary.date | dateDisplay("MMMM DD, YYYY") }} at {{ summary.date | dateDisplay("hh:mm A") }}</h2>

        <div class="row no-flex-wrap ma--top-2 ma--bottom-2">
          <div class="column ma--right-4">
            <p class="welcome__overview-category">Accounts</p>
            <p class="welcome__overview-value"> {{ summary.totalAccounts }}</p>
          </div>

          <div class="column ma--right-4 text--right">
            <p class="welcome__overview-category">Debits</p>
            <p class="welcome__overview-value">{{ summary.totalDebits | currencyDisplay }}</p>
          </div>

          <div class="column ma--right-4 text--right">
            <p class="welcome__overview-category">Credits</p>
            <p class="welcome__overview-value">{{ summary.totalCredits | currencyDisplay }}</p>
          </div>

          <div class="column ma--right-4 text--right">
            <p class="welcome__overview-category">Net</p>
            <p class="welcome__overview-value">{{ summary.net | currencyDisplay }}</p>
          </div>
        </div>
      </div>
    </section>

    <UploadFile />
  </div>
</template>

<script lang="ts">
import { Component, Inject, Vue } from "vue-property-decorator";
import UploadFile from "./components/UploadFile.vue";

import { SummaryModel } from '@/model';
import { IPortalService } from '@/service';

@Component({
  components: {
    UploadFile,
  },
})
export default class Home extends Vue {
  @Inject("portalService") service: IPortalService;

  summary: SummaryModel = null; 

  created () {
    this.$store.dispatch("getUser", this.service);

    this.service.getLastUploaded().then(response => {
      this.summary = response;
    });
  }
}
</script>
