<template>
  <div class="modal-container" :class="{ show : show }" ref="modal">
    <div class="blocker" @click="hideModal"></div>
    <div class="modal" :style="{ width: width + 'px', maxHeight: height + 'px' }">
      <div class="modal__header" v-if="hasHeader"><slot name="header"></slot></div>
      <div class="modal__content">
        <slot name="content"></slot>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Inject, Prop, Vue } from "vue-property-decorator";

@Component
export default class ModalComponent extends Vue {
  @Prop({ default: false}) show: boolean;
  @Prop({ default: undefined }) width: number;
  @Prop({ default: undefined }) height: number = undefined;

  hideModal() {
    let modal: any = this.$refs.modal;

    modal.classList.remove("show");

    this.$emit("close");
  }

  get hasHeader() {
    return !!this.$slots['header'];
  }
}
</script>