/*
|--------------------------------------------------------------------------
| File Upload component styles
|--------------------------------------------------------------------------
|
| Here we define positioning and specific visual styles for the
| file upload component. This component will likely have 
| reusability beyond the home page.
|
*/

.upload-box {
  background-color: var(--color-primary-lightest);
  text-align: center;

  padding: 2.75rem 0 2.75rem 0;

  &--hilight {
    opacity: .5;
  }
 
  &__icon {
    overflow: hidden;

    // intended for SVG element
    &--ready {
      fill: var(--color-primary);

      height: 18.5rem;
    }

    // intended for SVG element
    &--sync {
      fill: var(--color-grey);
      height: 18.5rem;
    }

    // intended for SVG element
    &--error {
      fill: var(--color-error);
      opacity: .65;
      height: 10.5rem;
    }    

    &:hover {
      //transform: translateY(-.5rem) scale(1.02);
      opacity: .5;
    }

  }

  &__heading {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.75rem;

  }

  &__message {
    font-weight: 600;
    font-size: 1.65rem;
    margin-bottom: 1.5rem;

  }

  &__error {
    // setting width property to ensure there is a "virtual" box to display the error
    width: 50%;

    font-weight: 600;
    font-size: 1.65rem;

    // need this to center because width property is defined on the element
    margin: auto;

    &--highlight {
      color: var(--color-red-light);
    }

  }

  &__emphasis {
    font-weight: 700;
  }

  &__button {
    margin-top: 3.75rem;
  }
 

}