/*
|--------------------------------------------------------------------------
| User component styles
|--------------------------------------------------------------------------
|
| Here we define positioning and specific visual styles for the
| user component typically found on the top right of a header.
|
*/

.user-info {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  align-items: center;

  &__firm {
    font-size: 1.35rem;
    letter-spacing: .1rem;
    color: var(--color-grey-dark);

  }

  &__photo {
    >* {
      background-color: #00aae7;
      height: 4.25rem;
      border-radius: 50%;
      margin-left: 4.5rem;
      font-weight: 700;
      font-size: 2.4rem;
      color: #f7f7f7;
      height: 55px;
      width: 55px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: #367fa9;
      }
    }

    &.active {
      >* {
        background-color: #367fa9;
        opacity: 0.7;
      }
    }
  }
}

.user-profile-container {
  display: flex;
  justify-content: flex-end;


  .user-profile {
    position: fixed;
    border-radius: 5px;
    border: solid 1px #c8c8c8;
    box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.14);
    padding: $padding $padding*2;
    min-width: 200px;
    font-size: 1.4rem;
    background-color: $color-white;
    margin-top: 6.4rem;
    margin-right: 2rem;

    &__photo {
      display: flex;
      justify-content: center;
      margin-top: -70px;

      img,
      span {
        background-color: #367fa9;
        height: 107px;
        width: 107px;
        border-radius: 50%;
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 4.6rem;
        color: #f7f7f7;
      }
    }

    &__name {
      font-size: 1.5rem;
      font-weight: 400;
      color: #5f5f5f;
      padding: $padding;
      text-align: center;

      .btn--icon {
        color: #ec6d71;
        padding-left: 1rem;
        font-size: 1.2rem;
      }
    }

    &__firm {
      font-size: 2rem;
      font-weight: 700;
      color: #5f5f5f;
      text-align: center;
    }

    &__button {
      padding-top: $padding;
      text-align: center;

      * {
        font-weight: 600;
        font-size: 1.3rem;
        color: #e9ecef;
        background-color: #367fa9;
        border: solid 1px #0f4397;
        padding: 1rem 4rem;
        border-radius: 2px;

        &:hover {
          transform: none;
        }
      }
    }
  }
}