/*
|--------------------------------------------------------------------------
| App specific styles
|--------------------------------------------------------------------------
|
| Here we define the styles that are specific to this app.
|
*/

#app1 {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  //flex: 1;
  margin-top: 7rem; 
}

.welcome {
  padding-left: 10rem;
  padding-right: 11rem;

  h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-size: 2.9rem;
    letter-spacing: .05rem;
    margin-bottom: $spacing;
  }

  &__overview {

    &-category {
      font-weight: 600;
      font-size: 1.1rem;
      letter-spacing: .05rem;
    }

    &-value {
      font-weight: 600;
      font-size: 2rem;

      margin-top: 2rem;
    }
  }

}

.preview {
  background-color: var(--color-grey-lighter);
  text-align: center;

  margin-top: 4rem;

  &__status {
    padding-top: 3rem;

    &-icon {
      color: var(--color-secondary);
      margin-right: 2rem;
      font-size: 320%;
    }

    &-heading {
      font-weight: 700;
      font-size: 2.25rem;
    }
  }

  &__message {
    font-size: 1.9rem;
    margin-top: 2.25rem;
  }

  &__info {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 5rem 0 5rem;
    margin-top: 6rem;

    &-icon {

      &--pig {
        height: 6rem;
        fill: var(--color-secondary-light);
      }

      &--refund {
        height: 6rem;
        fill: var(--color-error-light);
      }

      &--money {
        height: 6rem;
        fill: var(--color-primary-light);

      }

    }

    &-value {
      font-size: 1.8rem;
      font-weight: 600;
      margin-top: 1.6rem;
    }

  }

  &__summary {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 3.5rem;
  }

  &__button {
    margin-top: 5rem;
    padding-bottom: 3rem;
  }
}

.result {
  background-color: var(--color-primary-lighter-50);
  text-align: center;

  margin-top: 4rem;

  &__status {
    padding-top: 3rem;

    &-icon {
      height: 5rem;
      fill: var(--color-secondary);
    }

    &-heading {
      font-weight: 700;
      font-size: 2.25rem;
      margin-top: 3.5rem;
      
    }
  }

  &__message {
    width: 50%;
    font-size: 1.9rem;
    margin: auto;
    margin-top: 3.75rem;

  }

  &__button {
    margin-top: 5rem;
    padding-bottom: 3rem;
  }
}
