<template>
  <modal-component :show="show" @close="$emit('close')" :width="300">
    <template v-slot:header>
      Client Credits
      <a
        class="ma--right-1 float--right btn--icon btn--icon__download"
        @click.stop="$emit('download')"
        href="#"
      ></a>
    </template>
    <template v-slot:content>
      <table v-if="response && response.credits">
        <thead>
          <tr>
            <th>Account #</th>
            <th class="text--right">Credit ($)</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in response.credits" :key="index">
            <td>{{ item.accountNumber }}</td>
            <td class="text--right">{{ item.feeAmount | currencyDisplay(2, '') }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <hr />
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="text--right">{{ response.totalCreditAmount | currencyDisplay(2) }}</td>
          </tr>
        </tfoot>
      </table>
    </template>
  </modal-component>
</template>

<script lang="ts">
import { Component, Inject, Prop, Vue } from "vue-property-decorator";

import { UploadResponse } from "@/model";
import ModalComponent from "@/components/ModalComponent.vue";

@Component({
  components: {
    ModalComponent,
  },
})
export default class CreditFee extends Vue {
  @Prop() response: UploadResponse;
  @Prop({ default: false }) show: boolean;
}
</script>