<template>
 <modal-component :show="show" @close="$emit('close')" :width="450">
    <template v-slot:header>
        Accounts with Insufficient Funds

        <a class="ma--right-1 float--right btn--icon btn--icon__download" @click.stop="$emit('download')" href="#"></a>  
    </template>
    <template v-slot:content>
        <table v-if="response && response.insufficientFunds">
          <thead>
            <tr>
              <th>Account #</th>
              <th class="text--right">Available Funds ($)</th>
              <th class="text--right">Debit ($)</th>
              <th class="text--right">Shortfall ($)</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in response.insufficientFunds" :key="index">
              <td>{{ item.accountNumber }}</td>
              <td class="text--right">{{ item.availableFund | currencyDisplay(2, '') }}</td>
              <td class="text--right">{{ item.feeAmount | currencyDisplay(2, '') }}</td>
              <td class="text--right">{{ item.shortFall | currencyDisplay(2, '') }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">
                <hr />
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="text--right">{{ response.totalDebitAmount | currencyDisplay(2) }}</td>
              <td class="text--right">{{ response.totalInsufficientFund | currencyDisplay(2) }}</td>
            </tr>
          </tfoot>
        </table>
      </template>
  </modal-component>
</template>

<script lang="ts">
import { Component, Inject, Prop, Vue } from "vue-property-decorator";

import { UploadResponse } from "@/model";
import ModalComponent from '@/components/ModalComponent.vue';

@Component({
  components: {
    ModalComponent
  },
})
export default class InsufficientFund extends Vue {
  @Prop() response: UploadResponse;
  @Prop({ default: false}) show: boolean;
}
</script>