<template>
  <section class="upload-box mt-5">
    <div class="result" v-if="status == 'completed'">
      <div class="result__status">
        <svg class="result__status-icon">
          <use xlink:href="../../assets/sprite.svg#icon-thumbs-up" />
        </svg>

        <p class="result__status-heading">Congratulations, your file has been submitted!</p>
      </div>

      <p class="result__message">
        We will email you once Raymond James has processed your file.
        <template
          v-if="response.totalInsufficientFund"
        >
          <br />
          <br />
          As a reminder, you have {{ response.totalInsufficientFund }} accounts with insufficient funds to cover fees. These accounts were excluded
          from the submission.
        </template>
      </p>

      <div class="result__button">
        <a href="#" @click.stop="resetUpload" class="btn btn--blue btn--animated">Got it</a>
      </div>
    </div>
    <div class="preview" v-else-if="status == 'success'">
      <div class="preview__status">
        <span class="preview__status-icon">&#10003;</span>
        <span class="preview__status-heading">Ok great, file looks good.</span>
      </div>

      <p class="preview__message">Please review summary below and submit if all looks good.</p>

      <div class="preview__info">
        <div class="btn--inline">
          <a href="#" @click.stop="openDebitModal">
            <svg class="preview__info-icon--pig">
              <use xlink:href="../../assets/sprite.svg#icon-piggy-bank" />
            </svg>
            <p class="preview__info-value">
              <template
                v-if="response.totalDebitAccounts"
              >{{ response.totalDebitAccounts }} Client Debits | {{ response.totalDebitAmount | currencyDisplay(2) }}</template>
              <template v-else>No Client Debits | $0</template>
            </p>
          </a>
        </div>

        <div class="btn--inline">
          <a href="#" @click.stop="openCreditModal">
            <svg class="preview__info-icon--refund">
              <use xlink:href="../../assets/sprite.svg#icon-refund" />
            </svg>
            <p class="preview__info-value">
              <template
                v-if="response.totalCreditAccounts"
              >{{ response.totalCreditAccounts }} Client Credits | {{ response.totalCreditAmount | currencyDisplay(2) }}</template>
              <template v-else>No Client Credits | $0</template>
            </p>
          </a>
        </div>

        <div class="btn--inline">
          <a href="#" @click.stop="openInsufficientFundModal">
            <svg class="preview__info-icon--money">
              <use xlink:href="../../assets/sprite.svg#icon-bill" />
            </svg>
            <p class="preview__info-value">
              <template
                v-if="response.totalInsufficientFund"
              >{{ response.totalInsufficientFund }} Accounts have Insufficient Funds</template>
              <template v-else>All Accounts have Sufficient Funds</template>
            </p>
          </a>
        </div>
      </div>

      <p
        class="preview__summary"
      >Total Net Funds to your Corporate Account = {{ response.totalNetFunds | currencyDisplay(2) }}</p>

      <div class="preview__button">
        <a href="#" @click.stop="submitFee" class="btn btn--secondary btn--animated">Submit</a>
      </div>
    </div>
    <div v-else-if="status == 'error'">
      <div class="upload-box__icon">
        <svg class="upload-box__icon--error">
          <use xlink:href="../../assets/sprite.svg#icon-cloud-error" />
        </svg>
      </div>

      <p class="upload-box__heading">Oops, we hit a snag with this file.</p>

      <p
        class="upload-box__message"
        v-for="(error, index) in response.errors"
        :key="index"
      >{{ error }}</p>

      <div class="upload-box__button">
        <a @click.stop="resetUpload" class="btn btn--primary btn--animated">Try again</a>
      </div>
    </div>
    <div v-else-if="status == 'uploading'">
      <div class="upload-box__icon">
        <svg class="upload-box__icon--sync">
          <use xlink:href="../../assets/sprite.svg#icon-cloud-sync" />
        </svg>
      </div>

      <p class="upload-box__heading">Hang on tight, we're working on it&#8230;</p>
    </div>
    <div v-else @drop.prevent="dropFile" @dragover.prevent="dragover" @dragleave="dragleave">
      <input type="file" ref="imgupload" @change="browseFile" class="d--none" />
      <div class="upload-box__icon">
        <a href="#" @click.stop="openFileUpload()">
          <svg class="upload-box__icon--ready">
            <use xlink:href="../../assets/sprite.svg#icon-cloud-upload" />
          </svg>
        </a>
      </div>

      <p class="upload-box__heading">
        <a href="#" @click.stop="openFileUpload()" class="btn--inline">Choose a file</a>
        <span>&nbsp;or drag it here.</span>
      </p>

      <p class="upload-box__message">
        Need a starter file template?
        <a class="upload-box__emphasis btn--inline" :href="templateUrl" download="template.csv">Click here</a>
      </p>
    </div>

    <debit-fee :response="response" :show="showDebitModal" @download="downloadDebits" @close="showDebitModal = false" />
    <credit-fee :response="response" :show="showCreditModal" @download="downloadCredits" @close="showCreditModal = false" />
    <insufficient-fund :response="response" :show="showInsufficientFund" @download="downloadInsufficientFunds" @close="showInsufficientFund = false" />
  </section>
</template>

<script lang="ts">
import { Component, Inject, Prop, Vue } from "vue-property-decorator";
import { IPortalService } from "@/service";
import { UploadResponse } from "@/model";

import DebitFee from './DebitFee.vue';
import CreditFee from './CreditFee.vue';
import InsufficientFund from './InsufficientFund.vue';

@Component({
  components: {
    DebitFee, CreditFee, InsufficientFund
  },
})
export default class UploadFile extends Vue {
  @Inject("portalService") service: IPortalService;

  status: string = "";
  response: UploadResponse = null;
  showDebitModal: boolean = false;
  showCreditModal: boolean = false;
  showInsufficientFund: boolean = false;

  templateUrl:string = require('../../assets/template.csv');

  submitFee() {
    this.service.submitFee(this.response).then((response) => {
      this.status = "completed";
    });
  }

  uploadFile(file: File) {
    let ext = file.name.split(".").pop();

    if (!ext || ext.toLowerCase() != "csv") {
      this.status = "error";

      this.response = new UploadResponse();
      this.response.errors = [
        "File is not CSV (comma separated values) compliant.",
      ];
    } else {
      this.status = "uploading";

      this.service.uploadFee(file).then((response) => {
        if (response.errors && response.errors.length) this.status = "error";
        else this.status = "success";

        this.response = response;

        console.log(this.response)
      });
    }
  }

  openFileUpload() {
    let file: any = this.$refs.imgupload;

    file.click();
  }

  resetUpload() {
    this.status = null;
  }

  browseFile(event: any) {
    let browsedFiles = event.target.files;
    if (!browsedFiles) return;

    this.uploadFile(browsedFiles[0]);
  }

  dropFile(event: any) {
    event.currentTarget.classList.remove("upload-box--hilight");

    let droppedFiles = event.dataTransfer.files;
    if (!droppedFiles) return;

    this.uploadFile(droppedFiles[0]);
  }

  dragover(event: any) {
    if (!event.currentTarget.classList.contains("upload-box--hilight"))
      event.currentTarget.classList.add("upload-box--hilight");
  }

  dragleave(event: any) {
    event.currentTarget.classList.remove("upload-box--hilight");
  }

  openDebitModal() {
    if (this.response && this.response.debits)
      this.showDebitModal = true;
  }

  downloadDebits() {
    this.export("debits", "Account,Available Funds ($),Debit ($)", 
      this.response.debits.map(item => [item.accountNumber, item.availableFund, item.feeAmount].join(",")));
  }

  downloadCredits() {
    this.export("credits", "Account,Credit ($)", 
      this.response.credits.map(item => [item.accountNumber, item.feeAmount].join(",")));
  }

  downloadInsufficientFunds() {
    this.export("insufficientfunds", "Account,Available Funds ($),Debit ($),Shortfall ($)", 
      this.response.insufficientFunds.map(item => [item.accountNumber, item.availableFund, item.feeAmount, item.shortFall].join(",")));
  }

  export(name: string, header: string, content: Array<string>) {
    let csvContent = "data:text/csv;charset=utf-8,";
      csvContent += [header, ...content]
        .join("\n")
        .replace(/(^\[)|(\]$)/gm, "");

      const data = encodeURI(csvContent);
      const link = document.createElement("a");
      link.setAttribute("href", data);
      link.setAttribute("download", `${name}.csv`);
      link.click();
  }
  
  openCreditModal() {
    if (this.response && this.response.credits)
      this.showCreditModal = true;
  }

  
  openInsufficientFundModal() {
    if (this.response && this.response.insufficientFunds)
      this.showInsufficientFund = true;
  }
}
</script>